#app-mount .member-3W1lQa {height:45px}
#app-mount .members-1998pB .small-5Os1Bb {background-size: 37px;height: 37px;width: 37px}

#app-mount .member-3W1lQa:hover .content-OzHfo4 .status-2s6iDp,
#app-mount .member-3W1lQa .content-OzHfo4 .status-2s6iDp,
#app-mount .privateChannels-1nO12o .channel-2QD9_O .status,
#app-mount .privateChannels-1nO12o .channel-2QD9_O:hover .status {border-color: transparent}
#app-mount .status-oxiHuE.small-5Os1Bb.typing-1KJk_j.status {left:0;right:0;height: 100% !important;width: 100%!important;background-color: rgba(0, 0, 0, 0.4);animation: typing 1.5s linear infinite}
#app-mount .status-oxiHuE.small-5Os1Bb.typing-1KJk_j.status-2s6iDp {left:0;right:0;height: 100% !important;width: 100%!important;background-color: rgba(0, 0, 0, 0.4);animation: typing 1.5s linear infinite}

#app-mount .statusProfile-3ynqtt.status-oxiHuE,
#app-mount .listRow-hutiT_ .status-oxiHuE, 
#app-mount .card-7JP0BX .status-oxiHuE,
#app-mount .privateChannels-1nO12o .status,
#app-mount .autocompleteRow-2OthDa .status-oxiHuE,
#app-mount .container-1YxwTf .status-oxiHuE,
#app-mount .members-1998pB .content-OzHfo4 .status-2s6iDp,
#app-mount .members-1998pB .member-3W1lQa.popout-open .status-2s6iDp,
#app-mount .container-2Thooq .status-2kJpnA,.friend-2PO6ke .status {
    width:100%;height: 100%;right: 0;bottom:0
}
#friends .friends-table .friends-row .avatar-large, 
#friends .friends-table .friends-row .avatar-small{left:3px;width:40px;height:40px;background-size:40px}
#friends .friends-table .friends-row .friends-column-status .status {right:235px;bottom: 0;height: 40px;width: 40px}
#friends .friends-table .friends-column-name {padding-left:4px}
@media (max-width:1300px){#friends .friends-table .friends-column-name{width:200px !important}}
@media (max-width:1300px) {#friends .friends-table .friends-column-guilds{display:inline-flex !important}}

#app-mount .online-2S838R {background-color: transparent;box-shadow:0 0 var(--sglow) var(--online) !important}
#app-mount .streaming-2_dnHe {background-color: transparent;box-shadow:0 0 var(--sglow) var(--stream) !important}
#app-mount .dnd-1_xrcq {background-color: transparent;box-shadow:0 0 var(--sglow) var(--dnd) !important}
#app-mount .idle-3DEnRT {background-color: transparent;box-shadow:0 0 var(--sglow) var(--idle) !important}
#app-mount .invisible-1kp8Z0{background-color: transparent;box-shadow:0 0 var(--sglow) var(--invis) !important}
#app-mount .offline-3qoTek,
#app-mount .unknown-Ms2zdV {background-color: transparent;box-shadow:0 0 var(--sglow) var(--offline) !important}

#app-mount .maskProfile-1ObLFT,#app-mount .mask-3OgeRz {-webkit-mask: none;mask: none}
#app-mount .status,#app-mount .status-oxiHuE,
#app-mount .avatar-small,#app-mount .image-33JSyf,
#app-mount .wrapper-2F3Zv8,#app-mount .status-2s6iDp,
#app-mount .statusProfile-3ynqtt {border-radius:var(--round);box-shadow:none;-webkit-box-shadow:none;}
#app-mount .title-3qD0b- .status-oxiHuE,
#app-mount .friends-column-status .status,
#app-mount .titleCall-_b9o8P .status-oxiHuE {position:relative}

#app-mount .container-2Thooq .status-2kJpnA,#app-mount .statusProfile-3ynqtt.status-oxiHuE {pointer-events: none}
#app-mount .pulsingEllipsisItem-32hhWL {opacity: .9} 
#app-mount .pulsingEllipsis-3YiXRF {left:5px}
#app-mount .status,#app-mount .status-oxiHuE{border:none}
#app-mount .status-oxiHuE.animate-iYrs3- {transition:none }
@keyframes typing { 50% {opacity: .4}}
.titleText-3X-zRE {overflow: visible}

#app-mount .menu-Sp6bN1.alt-3btY0e .online-2S838R,
#app-mount .headerBar-UHpsPw .online-2S838R {background-color: var(--online)}
#app-mount .menu-Sp6bN1.alt-3btY0e .streaming-2_dnHe,
#app-mount .headerBar-UHpsPw .streaming-2_dnHe {background-color: var(--stream)}
#app-mount .menu-Sp6bN1.alt-3btY0e .dnd-1_xrcq,
#app-mount .headerBar-UHpsPw .dnd-1_xrcq {background-color: var(--dnd)}
#app-mount .menu-Sp6bN1.alt-3btY0e .idle-3DEnRT,
#app-mount .headerBar-UHpsPw .idle-3DEnRT {background-color: var(--idle)}
#app-mount .menu-Sp6bN1.alt-3btY0e .invisible-1kp8Z0,
#app-mount .headerBar-UHpsPw .invisible-1kp8Z0 {background-color: var(--invis)}
#app-mount .menu-Sp6bN1.alt-3btY0e .offline-3qoTek,#app-mount .headerBar-UHpsPw .offline-3qoTek,
#app-mount .menu-Sp6bN1.alt-3btY0e .unknown-Ms2zdV {background-color: var(--offline)}